*,
*:before,
*:after {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	margin-top: 30px;
	width: 960px;
	height: 100px;
	margin: 0 auto;
	border-style: solid;
}

.command {
font-weight: 600;

}


.function {

}


.item {

}

header {
	font-weight: 800;
	font-size: 80px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
}

